body {
	line-height: 1;
	background-color: black;
}
ol, ul {
	list-style: none;
}
#header2 {
    margin: 40px 0 0 10px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#movieCard:hover{
filter: blur(0px)!important;
}

#movieCard{
filter: blur(1px);
}

#containerImage,#cardContainer,#cardDivider,#movieCard,#cardDivider2{
background-color: black!important;
}

#navbarClass,#navbarMain{
background-color: #121212!important;
}

