body {
	line-height: 1;
	background-color: black;
	color: white;
}
ol, ul {
	list-style: none;
}
#header2 {
    margin: 40px 0 0 10px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#movieCard:hover{
filter: blur(0px)!important;
filter: drop-shadow(8px 8px 10px white);
}

#movieCard{
filter: blur(1px);
}

#containerImage,#cardContainer,#cardDivider,#movieCard,#cardDivider2{
background-color: black!important;
}

#navbarClass,#navbarMain{
background-color: #121212!important;
}

#movieCardBody,#movieCardClass, #movieCardClass1,#movieCardClass2,#movieCardClass3,#movieCardClass4{
background-color: black!important;
}

.nav-item{
font-family: "verdana"
}

.nav-item:hover{
filter: brightness(200%);
filter: drop-shadow(8px 8px 10px white);
}

.error {
border-style: solid;
border-color: red;
}

#dropdownMenuButton:hover{
filter: brightness(200%);
filter: drop-shadow(8px 8px 10px white);
}

h1{
font-family: "candara";
}

#errorMsg, #errorMsg1, #errorMsg2, {
font-family: "helvetica";
font-size 1.33;
color: red;
}

.errorIMFDB {
border: 3px red solid;
}

#error, #error1 {
border-style: solid;
border-color: red;
}

#movieCardButton1{
font-family: "optima";
}

.dropdown-menu{
background-color: #121212;
color: white;
}

.dropdown-item{
background-color: #121212;
color: gray;
}

.dropdown-item:hover{
background-color: #121212;
color: white;
}

