<header th:fragment="header" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3  navbar-fixed-top navbar-inverse" id="navbarClass">
        <a class="navbar-brand" href="#" id="navbarBrand"></a>
        <a href="/"><img src="https://gcdnb.pbrd.co/images/VR1UwNMHJ49o.png?o=1" alt="" width="70" height="64"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/addmovie">Add a movie</a>
                </li>
                <div class="dropdown">
                    <li class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Filter by genre
                    </li>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/filterby/Drama">Drama</a>
                        <a class="dropdown-item" href="/filterby/Adventure">Adventure</a>
                        <a class="dropdown-item" href="/filterby/Comedy">Comedy</a>
                        <a class="dropdown-item" href="/filterby/Action">Action</a>
                    </div>
                </div>
                <div>
                    <ul>
                        <li sec:authorize="isAnonymous()" class="nav-item" id="login">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item" id="logout">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </ul>
            <form class="d-flex" action="/search/" method="GET">
                <input  class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>