<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<form action="/addmovie" th:object="${movie}" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputTitle">Movie Title</label>
            <input type="text" th:field="*{title}" class="form-control" id="inputTitle" placeholder="Titanic">
        </div>
        <div class="form-group col-md-4">
            <label for="inputGenre">Genre</label>
            <select th:field="*{Genre}" id="inputGenre" class="form-control">
                <option selected th:value="Drama">Drama</option>
                <option th:value="Action" >Action</option>
                <option th:value="Adventure">Adventure</option>
                <option th:value="Comedy">Comedy</option>
                <option th:value="Romance">Romance</option>
            </select>
        </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputImgUrl">imgUrl for the movie </label>
        <input type="text" th:field="*{imgUrl}" class="form-control" id="inputImgUrl" placeholder="https://tinyurl.com/5xamvdfs">
    </div>
        <div class="form-group col-md-6">
            <label for="inputID">ID of the movie </label>
            <input type="text" th:field="*{id}" class="form-control" id="inputID" placeholder="234">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputRecommendedAge">Recommended age of viewer</label>
            <input type="text" th:field="*{recommendedAge}" class="form-control" id="inputRecommendedAge">
        </div>
        <div class="form-group col-md-6">
            <label for="inputDirector">Director</label>
            <input type="text" th:field="*{director}" class="form-control" id="inputDirector" placeholder="Director">
        </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputYearMade">Year of release</label>
        <input type="text" th:field="*{yearMade}" class="form-control" id="inputYearMade" placeholder="2000">
    </div>
    <div class="form-group col-md-6">
        <label for="inputLength">Length of film</label>
        <input type="text" th:field="*{length}" class="form-control" id="inputLength" placeholder="2:05">
    </div>
    </div>
    <div class="form-group">
        <label for="inputDescription">Storyline</label>
        <textarea th:field="*{description}" class="form-control" id="inputDescription" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add movie to database</button>
</form>
</body>
</html>