<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://gcdnb.pbrd.co/images/VR1UwNMHJ49o.png?o=1" type="image/icon type">
    <title>Movie</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../styles.css" th:href="'/styles.css'">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="fragments/header::header"></div>
<div class="container ">
    <div class="card">
        <div class="card-body" id="movieCardBody">
            <h1 class="card-title" th:text="${movie.title}"></h1>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6" id="movieCardClass">
                    <div class="white-box text-center"><img th:src="${movie.imgUrl}" width="350" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5"></h4>
                    <p th:text="${movie.description}"></p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">General Info</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-product">
                            <tbody>
                            <tr>
                                <td width="390">Title</td>
                                <td th:text="${movie.title}"></td>
                            </tr>
                            <tr>
                                <td>Genre</td>
                                <td th:text="${genre}"></td>
                            </tr>
                            <tr>
                                <td>Production year</td>
                                <td th:text="${movie.yearMade}"></td>
                            </tr>
                            <tr>
                                <td>Director</td>
                                <td th:text="${movie.director}"></td>
                            </tr>
                            <tr>
                                <td>Recommended age</td>
                                <td th:text="${movie.recommendedAge}"></td>
                            </tr>
                            <tr>
                                <td>Play time</td>
                                <td th:text="${movie.length}"></td>
                            </tr>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:each="review :${reviews}">
    <div class="card container text-white mt-3" id="cardContainer">
        <div class="card-body">
            <h6 th:text="'Rating: ' + ${review.score}"></h6>
            <p class="card-text" th:text="${review.review}">Some quick example text to build on the card title and make
                up the bulk of the card's content.</p>
            <h6 class="card-subtitle mb-2 text-muted" th:text="'Name of reviewer: '+  ${review.name}">Card subtitle</h6>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="text-white" id="header2">Write review</h2>
    <form method="post" th:action="'review/' + ${movie.id}" th:object="${review}">
        <div class="mb-3">
            <input th:field="*{name}" class="form-control col-6" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <h3>Rating: </h3>
        <select th:field="*{score}" class="mb-2">
            <option th:value="1">1</option>
            <option th:value="2">2</option>
            <option th:value="3">3</option>
            <option th:value="4">4</option>
            <option th:value="5">5</option>
        </select>
        <div class="mb-3">
            <textarea th:field="*{review}" class="form-control-lg form-control" id="exampleFormControlTextarea1"
                      rows="3"
                      placeholder="Review"></textarea>
        </div>
        <input type="submit" value="Submit review" id="review-button" class="btn btn-dark">
    </form>
</div>
<div th:insert="fragments/footer::footer"></div>
</body>
</html>